.swal2-icon {
    position: relative;
    box-sizing: content-box;
    justify-content: center;
    width: 0.5em;
    height: 0.5em;
    margin: 0px;
    zoom: normal;
    border: 0em solid transparent;
    border-radius: 50%;
    font-family: inherit;
    line-height: 5em;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}