<div style="height: 56px;">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark intro-fixed-nav teal darken-2"
    [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#">
        <strong>Meeting Management</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  waves-light" mdbWavesEffect [routerLink]="'/'">
          <a class="nav-link" mdbTooltip="Home" placement="bottom">
            <mdb-icon fas icon="home"></mdb-icon>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect [routerLink]="'/calendar'">
          <a class="nav-link" mdbTooltip="Calendar" placement="bottom">
            <mdb-icon fas icon="calendar-alt"></mdb-icon>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect [routerLink]="'/address'">
          <a class="nav-link" mdbTooltip="Address Book" placement="bottom">
            <mdb-icon fas icon="address-book"></mdb-icon>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect [routerLink]="'/in-room-app'">
          <a class="nav-link" mdbTooltip="In Room App" placement="bottom">
            <mdb-icon fas icon="tablet-alt"></mdb-icon>
          </a>
        </li>
        <li class="nav-item active waves-light" mdbWavesEffect [routerLink]="'/secretary-dashboard'">
          <a class="nav-link" mdbTooltip="dashboard" placement="bottom">
            <mdb-icon fas icon="chart-pie"></mdb-icon>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>

          <a dropdownToggle class="nav-link p-0" href="#">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
              alt="avatar image" height="35" mdbWavesEffect>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Access Backend</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Logout</a>
          </div>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</div>

<div>
  <iframe
    style="    display: block;
  background: #000;
  border: none;
  height: 100vh;
  width: 100vw;"
    frameborder="0" seamless="seamless" src="assets/iframe/dashbaord/executiveDashboard.html"></iframe>
</div>


<!--Main Navigation-->

<!--Main Layout-->
<!-- <main class="container">
  <div class="row" style="margin: 10px">
asdasd
  </div> -->
<!-- </main> -->
