.main_summary td:first-child {
  background: #00796b59;
  padding-left: 10px;
  text-align: left;
  min-width: 120px;
  /* color: #fff; */
  font-weight: 400;
}

.main_summary table td {
  border: 1px solid #7f7777;
}

.super {
  min-width: 600px;
  text-align: left;
  padding-left: 20px;
}
